table {
    border: solid 1px black;
    border-radius: 2px;
    padding: 4px;
    background-color: #f1f1f1;
    width: 100%;
    position: relative;
}

tbody {
    padding: 10px;
}

th {
    text-align: left;
    border: solid 1px black;
    border-radius: 2px;
    padding: 10px;
    padding-right: 20px;
    position: sticky;
    top: 0;
    background-color: white;
}

tr {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #d1d1d1;
}

td {
    text-align: left;
    border: solid 1px black;
    border-radius: 2px;
    padding: 10px;
}
